{% extends 'base_layout.html' %}
{% load widget_tweaks %}
{% block content %}
<!-- END nav -->

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/static/images/musicBg.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">Log In</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="{%url 'home'%}">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>About <i class="ion-ios-arrow-forward"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section contact-section">
  <div class="container ">

    <div class="row block-9 no-gutters">
      <div class="container-fluid">
        <form action="{% url 'accounts:login' %}" method="post" class="bg-light p-4 p-md-5 contact-form">
     
          {% csrf_token %}

          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
        
          {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        
          {% for field in form.visible_fields %}
            <div class="form-group">
              {{ field.label_tag }}
        
              {% if form.is_bound %}
                {% if field.errors %}
                  {% render_field field class="form-control is-invalid" %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control is-valid" %}
                {% endif %}
              {% else %}
                {% render_field field class="form-control" %}
              {% endif %}
        
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}

          {% if request.GET.next%}
              <input type="hidden" name="next" value="{{request.GET.next}}">
          {% endif %}

          <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary py-3 px-5">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}